<!DOCTYPE html>
<html>
<body>

<h2>Edit</h2>

<form action="/updateUser/{{id}}" method="post">

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="{{fname}}"><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="{{lname}}"><br><br>

  <label for="lname">National Code:</label><br>
  <input type="text" id="ncode" name="ncode" value="{{ncode}}"><br><br>

  <label for="lname">Phone:</label><br>
  <input type="text" id="phone" name="phone" value="{{phone}}"><br><br>

  <input type="submit" value="Edit">

</form> 
</body>
</html>