<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/createUser" method="POST">

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>

  <label for="ncode">National Code:</label><br>
  <input type="text" id="ncode" name="ncode"><br><br>

  <label for="phone">Phone:</label><br>
  <input type="text" id="phone" name="phone"><br><br>

  <input type="submit" value="Submit">

</form> 
</body>
</html>